.login-card {
    padding-top: 5%;
    margin: 0;
    text-align: left;
}

.btn-login-item {
    text-align: center;
}

.card {
    background: rgb(4, 0, 22);
}

.error-msg {
    text-align: center;
    color: rgb(252, 36, 36);
}